/* Mobile or narrow screen ----------- */
@media only screen 
and (max-width : 768px) {
.narrowview {
	display: block !important;
}
.wideview {
	display: none !important;
}
#feeds.tweet-list {
	width:90%;
}
}


/* Desktops, laptops, tablets, ... ----------- */
@media only screen 
and (min-width : 769px) {

#right-btn, #left-btn{
	position: fixed;
	top: 40%; /* Kinda lame...*/
}

.narrowview {
	display: block !important;
}

.wideview {
	display: block !important;
}
#feeds.tweet-list {
	width:80%;
}
}


#main_content {
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffff;
}

.tweet_content {
	margin-left: 9px;
	margin-right: 9px;
	padding: 0px;
}

#feeds.tweet-list {
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
}

.right_arrow {
	width: 50px;
	height: 49px;
	background-color: #fff;
	position: absolute;
	top: 200px;
	border-radius: 5px;
}

.left_arrow {
	width: 50px;
	height: 49px;
	background-color: #fff;
	position: absolute;
	top: 200px;
	border-radius: 5px;
}

li.white_divider {
	height: 3px;
}

.userpic {
	width: 70px;
	position: absolute !important;
	top: 5px !important;
	left: 9px !important;
}

.user_info {
	position: absolute;
	top: -1px;
}

.username {
	color: red;
}

.tweet_text {
	font-size: 0.7em;
	position: absolute;
	top: 32px;
	text-shadow: none;
	width: 70%;
	height: 40px;
	overflow: auto; 
	white-space: normal;
	font-family: Helvetica, Arial, sans-serif;
}
